body{
    background-color: pink;
}
.buttonCont{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
     background-color: black;
}

.numberCont{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 320px;
    background-color: black;

}
.numberBtns{
    flex: 0 0 100px;
    height: 5em;
        background-color: blue;

}

.calc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 auto;
    height: 30em;
    width: 30em;
    background-color: rgb(25, 24, 24);
    border-radius: 5em;
}

.operatorCont{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: black;
}

.operator, .equal{
    height: 5em;
    width: 5em;
    background-color: orange;
}
.equal{
    background-color: red;
    height: 6em;
    width: 7em;
    border-radius: 1em;
}

.bottomCont {
    display: flex;
    gap: 8px;
}

.bottomCont .numberBtns {
    flex: 0 0 210px; /* spans two columns if you want */
}

.bottomCont .operator {
    flex: 0 0 100px;
}
.numberWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textBox{
   border: 1px solid blue; 
   border-radius: 0.5em;
   height: 2em;
   width: 25em;
   background-color: olive;
   margin: 20px;
   font-family: 'Digital-7', 'DS-Digital', 'Courier New', monospace;
   font-size: 1.1em;
   text-align: right;

}
.numberBtns, .operator {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: bold;
    border-radius: 1em;
}

